@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&family=Lexend:wght@400;700&family=Spectral:ital@1&display=swap");

// Sass variables
$font-stack: "Barlow", sans-serif;
$italic: "Spectral", serif;
$font-color: #5b5757;
$pink: #ff738e;
$link-hover: #00baa8;

// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Main styling

body {
  font-family: $font-stack;
  background-color: #ffffff;
  color: $font-color;
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

a {
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  border-bottom: dotted 1px;
  color: $pink;
  text-decoration: none;

  &:hover {
    color: $link-hover;
  }

  &.img-link {
    border-bottom: none;
  }
}

p {
  // margin: 0 0 1em 0;
}

header {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-attachment: scroll, fixed;
  background-image: url("images/overlay.png"), url("images/bg.jpg");
  background-position: top left, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  color: rgba(255, 255, 255, 0.5);
  height: 100%;
  padding: 8em 4em;
  position: fixed;
  text-align: right;
  top: 0;
  left: 0;

  h1 {
    color: rgba(255, 255, 255, 0.637);
    font-size: 1.35em;
    line-height: 1.75em;
    font-weight: 400;
    margin: 0;
  }

  #avatar {
    border-radius: 100%;
    margin: auto;
    width: 10em;
  }

  ul {
    cursor: default;
    list-style: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 0 1em 0 0;
    }
  }
}

main {
  margin-left: 35%;
  max-width: 54em;
  padding: 8em 4em 4em 4em;
  width: calc(100% - 33%);

  section {
    border-top: solid 2px #efefef;
    margin: 4em 0 0 0;
    padding: 4em 0 0 0;
  }

  section:first-child {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .row {
    display: flex;
    min-height: 100px;
    // background-color: #00baa8;
  }

  .column {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 1em 0 0;
    // background-color: #ff738e;
  }
}

.spectral {
  font-family: "Spectral";
  // color: $pink;
}

.name {
  font-family: "Spectral";
  color: $pink;
}

.code-links {
  margin-top: 0.25em;
  a {
    text-align: center;
    border: none;
    display: inline;
    margin: 0 1em 0 0;
  }
}

#app {
  font-size: 70px;
  line-height: 78px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: black;
}

//----------------------- MEDIA QUERIES ---------------

/* XLarge */
@media screen and (max-width: 1800px) {
  body {
    font-size: 12pt;
  }
}

/* Large */
@media screen and (max-width: 1280px) {
  header {
    padding: 6em 3em 3em 3em;
    width: 30%;
    margin-bottom: 0;

    h1 {
      font-size: 1.25em;
    }

    main {
      margin-left: 30%;
      max-width: none;
      padding: 6em 3em 3em 3em;
      width: calc(100% - 30%);
    }
  }
}

/* Medium */
@media screen and (max-width: 980px) {
  ul li {
    font-size: 1.25em;
  }

  header {
    background-attachment: scroll;
    background-position: right;
    background-size: auto, cover;
    left: auto;
    padding: 6em 4em;
    position: relative;
    text-align: center;
    top: auto;
    width: 100%;
    display: block;

    h1 {
      padding-top: 1rem;
      font-size: 1.75em;
    }

    #links {
      text-align: center;
    }
  }

  main {
    margin: 0;
    padding: 6em 4em;
    width: 100%;

    #intro {
      text-align: center;
    }

    h2 {
      text-align: center;
    }
  }
}

/* Small */
@media screen and (max-width: 736px) {
  h1 {
    font-size: 1.25em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }

  ul li {
    padding-left: 2em;
  }

  header {
    padding: 2.25em 1.5em;
  }

  main {
    padding: 2.25em 1.5em 0.25em 1.5em;
    section {
      margin: 2.25em 0 0 0;
      padding: 2.25em 0 0 0;
    }
  }

  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  header {
    font-size: small;
  }
}
